In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [5]:
df = pd.read_csv('./transactions.csv')
df.head()

,transaction_id,customer_id,full_name,amount,transaction_type,location,device,ip_address,timestamp,source_acct,receiver_acct
0,TXN1000,655,Nicole Miller,134.80,Credit,London,Mobile,9.100.248.251,2025-03-19 02:16:03.541501,ACC28728463,ACC23756669
1,TXN1001,693,Taylor Smith,4461.98,Credit,Lagos,Desktop,132.178.105.211,2025-04-08 09:29:19.555296,ACC14265799,ACC13999315
2,TXN1002,96,Bethany Sanchez,1170.98,Debit,Accra,ATM,23.46.218.19,2025-03-26 09:10:30.324582,ACC36687537,ACC97226012
3,TXN1003,719,Alexis Taylor,2103.40,Credit,Lagos,Desktop,138.241.248.235,2025-03-27 15:51:55.972388,ACC10872248,ACC31429110
4,TXN1004,715,Kelly Morgan,1707.85,Credit,London,Desktop,84.250.34.30,2025-03-26 02:27:01.358737,ACC23718431,ACC22448136

In [14]:
filtered_df = df[df['customer_id'] == 719]
filtered_df.count()

transaction_id      9
customer_id         9
full_name           9
amount              9
transaction_type    9
location            9
device              9
ip_address          9
timestamp           9
source_acct         9
receiver_acct       9
dtype: int64

In [17]:
most_frequent_customer = df['customer_id'].value_counts().idxmax()
frequency = df['customer_id'].value_counts().max()
print(f"Most frequent customer_id: {most_frequent_customer} (occurs {frequency} times)")

Most frequent customer_id: 981 (occurs 20 times)